.main {
  position: absolute;
  margin: 4rem 4rem 6rem 4rem;
}
.parallax {
  overflow: hidden;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  position: fixed;
  bottom: 0;
  background-color: var(--ash-black);
}

.parallax span {
  display: block;
  margin-right: 5rem;
  font-family: var(--font-leky);
  color: var(--pink);
  line-height: 9rem;
}

.parallax .scroller {
  text-transform: uppercase;
  font-size: 3rem;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.container {
  margin-bottom: 2rem;
}

.lastContainer {
  padding-bottom: 6rem;
}

.heading {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.heading__experience {
  text-align: start;
}

.quote {
  font-style: italic;
  font-weight: 1.25rem;
  line-height: 1.4;
}

.about__quote {
  max-width: 60rem;
  margin: 0 auto;
}

.heading__education,
.heading__recommendations {
  text-align: end;
}

.container__items {
  display: flex;
  flex-direction: column;
  max-width: 48.25rem;
  margin: 0 auto;
}

.container__item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 0.5rem;
  gap: 0.75rem;
}

.date {
  grid-column: 1 / 2;
  max-width: 12.6rem;
  font-weight: 500;
  font-size: 0.75rem;
  text-align: start;
}

.container__text {
  grid-column: 2 / 5;
  text-align: start;
  max-width: 38rem;
}

.title {
  font-weight: 500;
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

.place {
  font-size: 1rem;
}

.desc {
  padding-top: 0.5rem;
}

.quote__person {
  text-align: end;
}

.p__quote {
  padding-top: 0.2rem;
  font-size: 0.75rem;
}

.container__quote {
margin-bottom: 6rem;
}

.container__skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills {
  list-style: none;
}

.skill {
  text-transform: uppercase;
  padding-bottom: 0.5rem;
}

.container__languages {
  display: flex;
  justify-content: center;
}

.language {
  margin: 0 2rem;
}

.language__name {
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.language__level {
  text-transform: uppercase;
}

@media (min-width: 425px) {
  .container__item {
    grid-template-columns: repeat(3, 1fr);
  }

  .date {
    font-weight: 600;
  }

  .container__text {
    grid-column: 2 / 4;
  }
}

@media (min-width: 930px) {
  .container__skills {
    flex-direction: row;
  }
  .container__skill {
    margin: 0 3rem;
  }
}

@media (min-width: 1000px) {
  .heading {
    font-size: 2rem;
  }
}

@media (min-width: 1080px) {
  .heading {
    font-size: 2.5rem;
  }
}
