.container {
  background-image: url('../public/images/portfolioBcg.jpg');
  background-size: cover;
  background-attachment: scroll;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  margin: 0 4rem;
  align-items: center;
  position: relative;
  scroll-snap-align: center;
  perspective: 500px;
}

.section > .img__container {
  width: 16rem;
  height: 22rem;
  position: relative;
  max-height: 90vh;
  margin: 0 1.5rem;
  overflow: hidden;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.2;
  display: none;
  width: 16rem;
  height: 22rem;
}

.headings__container {
  left: calc(50% - 9rem);
  position: absolute;
  display: flex;
  flex-direction: column;
  max-width: 17rem;
  align-items: flex-start;
}

.link__container {
  display: flex;
  align-items: center;
  margin-top: 0.75rem;
  width: 100%;
  justify-content: space-between;
}

.h2 {
  margin: 0;
  color: var(--pink);
  font-size: 3rem;
  line-height: 1.4;
  text-align: start;
}

.date {
  color: var(--white);
  font-family: var(--font-montserrat);
  font-weight: 400;
  font-size: 1.25rem;
  font-style: italic;
}

.link {
  display: flex;
  z-index: 100;
}

.tech {
  color: var(--gray);
  font-family: var(--font-montserrat);
  font-weight: 700;
  font-size: 1rem;
  margin-top: 1rem;
  text-transform: uppercase;
}

.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 0.3rem;
  background: var(--pink);
  bottom: 6.25rem;
}

@media (min-width: 700px) {
  .headings__container {
    left: calc(50% - 2rem);
    max-width: 22rem;
  }

  .h2 {
    font-size: 4rem;
  }

  .date {
    font-size: 2rem;
  }

  .tech {
    font-size: 1.25rem;
    margin-top: 2rem;
  }

  .img {
    opacity: 1;
    display: flex;
  }
}

@media (min-width: 900px) {
  .section {
    margin: 0 6rem;
  }

  .headings__container {
    left: calc(50% - 2rem);
    max-width: 358px;
  }

  .img {
    width: 18.75rem;
    height: 25rem;
  }
}

@media (min-width: 1200px) {
  .section > .img__container {
    width: 18.75rem;
    height: 25rem;
  }

  .section {
    justify-content: center;
    /* margin: unset; */
  }

  .headings__container {
    left: calc(50% + 8.75rem);
  }
}
